@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu&display=swap");

/* adding padding or border to an element does not affect it's width */
* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  margin: 0;
}
/* overflow: hidden prevents scrollbars, 100vh height is viewport height, flexbox aligns content vertically and horizontally */
